<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>A First Run with Component Theming: Missteps, Learnings, and Success</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/blood.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>A First Run with Component Theming</h2>
					<p>Missteps, Learnings, and Success</p>
				</section>
				<section>
					<blockquote cite="https://twitter.com/patio11/status/803825771349426176">
						&ldquo;The world needs more people who are two days into learning something writing about the problems of people who are one day in.&rdquo;
					</blockquote>
					-- Patrick McKenzie <br />(https://twitter.com/patio11/status/803825771349426176)
				</section>
				<section>
					Slides: <a href="https://wheatpenny.github.io/D8-component-theming/">https://wheatpenny.github.io/D8-component-theming/</a>
				</section>
				<section>
					<section>
						<h2>Levi Sigworth</h2>
					</section>
					<section>
						Why listen to what I have to say?
						<aside class="notes">
							First off, you don't have to! I am not a proponent of The One True
							Way. What I have found is something that accomplished my goals and
							has worked very well for me. Take the parts that work for you and
							make them your own!
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>Goals of this project</h2>
					</section>
					<section>
						Approve the design in the browser, not with a Photoshop rendering
						<aside class="notes">
							But how? Build the Drupal site immediately and hope for the best?
							No, but let's first tell a story.
							Through a front end style guide! I chose to use
							Atomic Design and Pattern Lab, but there are others.
							Quick overview of a front end style guide + Atomic Design + Pattern Lab
						</aside>
					</section>
					<section>
						Show infinite breakpoints. Resize text based on viewport. Automatically import real text. Inline documentation on how to use components.
					</section>
					<section>
						A front end style guide perfectly in sync with production
						<aside class="notes">
							Front end style guides can be completely independent of the CMS.
							But I wanted one that was tightly integrated. Make a change in the style guide,
							it shows up on the site. HTML, CSS, and JS all supplied by the
							front end style guide.
						</aside>
					</section>
					<section>
						<ul>
							<li>themename
								<ul>
									<li>source (patternlab files)</li>
									<li>templates (drupal theme files)</li>
									<li>dest (generated output: CSS, JS, icons, etc)</li>
									<li>themename.yml.info</li>
								</ul>
							</li>
						</ul>
						<p>Higlighted folders and files of our Drupal 8 component-based theme</p>
					</section>
					<section>
						Publish the front end style guide publicly
					</section>
					<section>
						<h3>How?</h3>
						We're going to reach these goals with component theming in Drupal 8.
					</section>
				</section>
				<section>
					<section>
						<h2>Why component theming?</h2>
						These goals are great, but why even bother? This is a lot of effort and something brand new to learn.
					</section>
					<section>
						<p>Make changes to exactly the part of the site you want.</p>
						<p>Those changes roll out in a predicatable manner.</p>
					</section>
					<section>
						<blockquote>
						Two CSS properties walk into a bar. A barstool in an entirely different bar falls over.
					</blockquote>
					</section>
				</section>
				<section>
					<section>
						<h2>What is component theming?</h2>
					</section>
					<section>
						Bundles of HTML, CSS, and JS that can be moved around the site and remain CONSISTENT and PREDICTABLE
					</section>
					<section>
						<h2>Example: Code Widget</h2>
					</section>
					<section data-background="images/code-screenshot.png">
					</section>
					<section>
						<h3>Final Generated HTML</h3>
					</section>
					<section>
						<pre>
							<code>
<figure class="paragraphs-code">
  <pre class="paragraphs-code__code">
    <code>
			(CONTENT HERE)
    </code>
  </pre>
  <figcaption class="paragraphs-code__caption">
    <p class="paragraphs-code__text">(CAPTION HERE)</p>
  </figcaption>
</figure>
							</code>
						</pre>
						<p>Pattern Lab owns a template that Drupal imports. Drupal inserts content and displays the markup.</p>
					</section>
					<section>
						<h3>Final Generated CSS</h3>
					</section>
					<section>
						<pre>
							<code>
.paragraphs-code {
  clear: both;
  padding: 0 0 20px 20px;
  border-left: #f7951d 2px solid;
  margin-left: 0;
}

@media (min-width: 1250px) {
  .paragraphs-code {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.paragraphs-code__code {
  background-color: #f2f2f2;
  overflow: scroll;
}

.paragraphs-code__caption {
  color: #7a7a7a;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
}

.paragraphs-code__text {
	margin-bottom: 0;
}
						</code>
					</pre>
						<p>Pattern Lab generates this CSS, and the Drupal theme imports this CSS file.</p>
					</section>
					<section>
						<h3>No JS for this widget</h3>
					</section>
				</section>
				<section>
					<section>
						<h2>Quick Break 1: Buzzwords and Terminology</h2>
					</section>
					<section>
						<h3>Front End Style Guide</h3>
						<p>The deliverable we are using to define client acceptance in the browser.</p>
					</section>
					<section>
						<h3>Pattern Lab and Atomic Design</h3>
						<p>The design system I chose to implement a front end style guide.</p>
					</section>
				</section>
				<section>
					<section>
						<h2>First Component</h2>
						<p>Display code examples in my writing posts.</p>
					</section>
					<section data-background="images/code-screenshot.png">
					</section>
					<section>
						<h3>Step 1</h3>
						<p>Understand that there is a need for a component.</p>
					</section>
					<section>
						system thinking
					</section>
					<section>
						<h3>Step 2</h3>
						Create the component.
					</section>
					<section>
						<ul>
							<li>
								Twig file: HTML
							</li>
							<li>
								SCSS file: compiles to CSS
							</li>
							<li>
								JSON file: sample content
							</li>
							<li>
								Markdown file: usage documentation
							</li>
							<li>
								JS file: Javascript
							</li>
						</ul>
					</section>
					<section>
						<h4>Easy with Pattern Lab Starter</h4>
						<pre>
							<code>
npm run new
							</code>
						</pre>
						<p>https://github.com/phase2/pattern-lab-starter</p>
					</section>
					<section>
							<pre>
								<code>
<{{ element ?: "figure" }} class="paragraphs-code">
  <pre class="paragraphs-code__code">
    <code>
      {{ code }}
    </code>
  </pre>
  {% if caption %}
    <figcaption class="paragraphs-code__caption">
      <p class="paragraphs-code__text">{{ caption }}</p>
    </figcaption>
  {% endif %}
</{{ element ?: "figure" }}>
								</code>
							</pre>
							Twig markup
					</section>
					<section>
						<pre>
							<code>
.paragraphs-code {
  clear: both;
  padding: 0 0 $spacing--l $spacing--l;
  border-left: $c-code-border 2px solid;
  margin-left: 0;

  @include breakpoint($bp--xxlarge) {
    padding-left: $spacing--l*2;
    margin-left: -$spacing--l*2;
  }

  &__code {
    background-color: $c-code-bg;
    overflow: scroll;
  }

  &__caption {
    color: $c-byline-color;
    border-bottom: 1px solid $c-byline-border;
    padding-bottom: $spacing--sm;
  }
  &__text {
    margin-bottom: 0;
  }
}
							</code>
						</pre>
						SCSS file
					</section>
					<section>
						<pre>
							<code>
{
  "code": "drup(){cd /var/www/$1/sites/default/ (cdd && git pull && drush updatedb)}",
  "caption": "This example shows how to automate your startup environment."
}
							</code>
						</pre>
						JSON file
					</section>
					<section>
						<h3>Step 3</h3>
						Test your pattern in the browser!
					</section>
					<section>
						<h3>Step 4</h3>
						Build functionality in Drupal
					</section>
					<section>
						<h4>Paragraphs</h4>
					</section>
					<section>
						<h3>Step 5</h3>
						Figure out template name in Drupal
					</section>
					<section>
						<a href="https://www.drupal.org/docs/8/theming/twig/debugging-twig-templates">https://www.drupal.org/docs/8/theming/twig/debugging-twig-templates</a>
					</section>
					<section>
						<h3>Step 6</h3>
						Pull component Twig template into Drupal theme.
					</section>
					<section>
						<pre>
							<code>
{% embed "@molecules/paragraphs-code.twig"
  with {
  "code": content.field_figure_code|field_value,
  "caption": content.field_figure_caption|field_value
  }
 %}
{% endembed %}
							</code>
						</pre>
						paragraph--paragraphs-code.html.twig
					</section>
				</section>
				<section>
					<section>
						<h2>Quick Break 2: Buzzwords and Terminology</h2>
					</section>
					<section>
						<h3>Paragraphs</h3>
						<p>Drupal modules that allows editors to create small, movable chunks of content. Replaces a big Body field.</p>
					</section>
					<section>
						<h3>SCSS (or SASS)</h3>
						<p>Generates the final CSS file</p>
						<p>Makes BEM naming structure easier to implement.</p>
					</section>
					<section>
						<h3>BEM</h3>
						<p>Block, Element, Modifier. CSS naming convention</p>
					</section>
					<section>
						<h3>Twig</h3>
						<p>HTML templating engine in D8. Replaces PHPTemplate in D7.</p>
					</section>
					<section>
						<h3>npm</h3>
						<p>Comes from node.js. It's a package manager. YOU DON'T NEED TO BE AN EXPERT HERE...just have to get it installed.</p>
					</section>
				</section>
				<section>
					<section>
						<h2>Second Component</h2>
						<p>Show Images in Writing Posts</p>
					</section>
					<section data-background="images/left.png">
					</section>
					<section data-background="images/right.png">
					</section>
					<section data-background="images/hero.png">
					</section>
					<section>
						<h3>Step 1</h3>
						<p>Understand that there is a need for a component.</p>
					</section>
					<section>
						<h3>Step 2</h3>
						Create the component.
					</section>
					<section>
							<pre>
								<code>
<{{ element ?: "figure" }} class="paragraphs-image{% if styleModifier %} paragraphs-image--{{ styleModifier }}{% endif %}">

  <div class="paragraphs-image__image">
    {% block img %}
      {% include "@atoms/_img.twig" %}
    {% endblock %}

    {% if byline %}
      <div class="paragraphs-image__byline">
        <p>Image courtesy <a class="link--quiet" href="{{ bylineurl }}"> {{ byline }}</a></p>
      </div>
    {% endif %}
  </div>

  {% if caption %}
    <figcaption class="paragraphs-image__caption">
      <p class="paragraphs-image__text">{{ caption }}</p>
    </figcaption>
  {% endif %}

</{{ element ?: "figure" }}>
								</code>
							</pre>
							Twig markup
					</section>
					<section>
						<pre>
							<code>
.paragraphs-image {
  clear: both;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $spacing--l*2;
  display: table;

  // styleModifier: left
  &--left {
    float: none;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($bp--large) {
      float: left;
      margin: 0 $spacing--l $spacing--l 0;
      max-width: 600px;
    }
    @include breakpoint($bp--xlarge) {
      //margin: 0 $spacing--l $spacing--l -05%;
      max-width: 700px;
    }
    @include breakpoint($bp--xxxlarge) {
      margin: 0 $spacing--l $spacing--l -15% ;
    }
  }

  // styleModifier: right
  &--right {
    float: none;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($bp--large) {
      float: right;
      margin: 0 0 $spacing--l $spacing--l;
      max-width: 600px;
    }
    @include breakpoint($bp--xlarge) {
      //margin: 0 -05% $spacing--l $spacing--l;
      max-width: 700px;
    }
    @include breakpoint($bp--xxxlarge) {
      margin: 0 -15% $spacing--l $spacing--l;
    }
  }

  // styleModifier: hero
  &--hero {
    margin-left: auto;
    margin-right: auto;
  }

  &__image {
    position: relative;
    border-top: 2px solid $c-img-border;
    float: left;
    img {
      display: block;
      width: 100%;
    }
  }
  &__byline {
    position: absolute;
    bottom: 0;
    right: 0;
    @include knockout;
    p {
      margin-bottom: 0;
    }

    // styleModifier: hero
    .paragraphs-image--hero & {
      @include breakpoint($bp--xxlarge) {
        transform: rotate(90deg);
        transform-origin: 100% 100%;
      }
    }

    // styleModifier: left
    .paragraphs-image--left & {
      @include breakpoint($bp--xxlarge) {
        left: inherit;
        right: auto;
        transform: rotate(270deg);
        transform-origin: 0 100%;
      }
    }

    // styleModifier: right
    .paragraphs-image--right & {
      @include breakpoint($bp--xxlarge) {
        transform: rotate(90deg);
        transform-origin: 100% 100%;
      }
    }


  }
  &__caption {
    color: $c-byline-color;
    border-bottom: 1px solid $c-byline-border;
    padding-bottom: $spacing--sm;
    clear: both;
    display: table-caption;
    caption-side: bottom;
  }

  &__text {
    margin-bottom: 0;
  }
}
							</code>
						</pre>
						SCSS file
					</section>
					<section>
						<pre>
							<code>
{
  "img": "http://placehold.it/1000x400",
  "byline": "Freddy Foto",
  "bylineurl": "https://www.example.com",
  "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud "
}
							</code>
						</pre>
						JSON file
					</section>
					<section>
						<h3>Step 3</h3>
						Test your pattern in the browser!
					</section>
					<section>
						<h3>Step 4</h3>
						Build functionality in Drupal
					</section>
					<section>
						<h4>Paragraphs</h4>
					</section>
					<section>
						<h4>Theme Function</h4>
					</section>
					<section>
						<pre>
							<code>
/**
* Implements hook_preprocess_HOOK() for paragraph--paragraphs-image.html.twig.
*/
function patternlab_preprocess_paragraph__paragraphs_image(&$variables) {
 $paragraph = $variables['paragraph'];
 // Get the value of the image style and add it as a class on the image field.
 $display_image = $paragraph->get('field_figure_position')->value;
 $variables['display_image'] = $display_image;
 }
							</code>
						</pre>
						Theme function: place in themename.theme
					</section>
					<section>
						<h3>Step 5</h3>
						Figure out template name in Drupal
					</section>
					<section>
						<h3>Step 6</h3>
						Pull component Twig template into Drupal theme.
					</section>
					<section>
						<pre>
							<code>
{% embed "@molecules/01-paragraphs-image.twig"
  with {
  "byline": content.field_figure_byline.0["#title"],
  "bylineurl": content.field_figure_byline.0["#url"],
  "caption": content.field_figure_caption|field_value,
  "styleModifier": display_image
  }
 %}
 {% block img %}
  {{ content.field_figure_image|field_value }}
 {% endblock %}
{% endembed %}
							</code>
						</pre>
						paragraph--paragraphs-image.html.twig
					</section>
				</section>
				<section>
					<section>
						<h2>Third Component</h2>
						<p>Show Cards in Views</p>
					</section>
					<section data-background="images/cards.png">
					</section>
					<section data-background="images/cards-text-only.png">
					</section>
					<section>
						<h3>Step 1</h3>
						<p>Understand that there is a need for a component.</p>
					</section>
					<section>
						<h3>Step 2</h3>
						Create the component.
					</section>
					<section>
							<pre>
								<code>
<{{ element ?: "div" }} class="writing-card{% if styleModifier %} writing-card--{{ styleModifier }}{% endif %}">
  <a href="{{ url }}">
    <div class="writing-card__image">
      {% block img %}
        {% include "@atoms/_img.twig" %}
      {% endblock %}
    </div>
    <div class="writing-card__caption">
      {% if title %}<h3 class="writing-card__title">{{ title }}</h3>{% endif %}
      {% if body %}
      <div class="writing-card__body">
          <p>{{ body }}</p>
      </div>
      {% endif %}
    </div>
  </a>
</{{ element ?: "div" }}>
								</code>
							</pre>
							Twig markup
					</section>
					<section>
						<pre>
							<code>
.writing-card {
  position: relative;

  //styleModifier: hero
  &--hero {
    margin-bottom: $spacing--l*2;
  }

  &__image {
    img {
      border-top: 2px solid $c-img-border;
    }
  }

  &__caption {
    border-top: $spacing--l/4 solid $c-writing-card-caption-border;
    border-bottom: $spacing--l/4 solid $c-writing-card-caption-border;

    // styleModifier: hero
    .writing-card--hero & {
      border-top: $spacing--l/4 solid $c-writing-card--hero-caption-border;
      border-bottom: $spacing--l/4 solid $c-writing-card--hero-caption-border;
      position: relative;

      @include breakpoint($bp--medium) {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }

  &__title {
    @include knockout;
    background-color: $c-writing-card-caption-bg;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__body {
    @include knockout;
    background-color: $c-writing-card-caption-bg;
    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }
}
							</code>
						</pre>
						SCSS file
					</section>
					<section>
						<pre>
							<code>
{
  "img": "http://placehold.it/650x250",
  "url": "http://www.example.com",
  "title": "The Cobbler's Children: Pattern Lab and being your own client"
}
							</code>
						</pre>
						JSON file
					</section>
					<section>
						<h3>Step 3</h3>
						Test your pattern in the browser!
					</section>
					<section>
						<h3>Step 4</h3>
						Build functionality in Drupal
					</section>
					<section>
						<h4>Views</h4>
					</section>
					<section>
						<h4>View Modes!</h4>
						<p>Structure > Display Modes > View Modes</p>
						<p>Add View Modes for content.</p>
					</section>
					<section>
						<h4>Enable View Modes on Content Type</h4>
						<p>Configure for each content type:</p>
						<p>Structure > [Content Type] > Manage Display</p>
						<p>Enable under "Custom Display Settings."</p>
					</section>
					<section>
						<h3>Step 5</h3>
						Figure out template name in Drupal
					</section>
					<section>
						<h3>Step 6</h3>
						<p>Pull component Twig template into Drupal theme.</p>
						<p>Each View Mode gets a Drupal template, but they all use the same component.</p>
					</section>
					<section>
						<pre>
							<code>
{% embed "@molecules/01-writing-card.twig"
  with {
    "url": url,
    "title": label,
    "body": content.field_card_blurb|field_value
  }
 %}
  {% block img %}
   {{ content.field_card_image|field_value }}
  {% endblock %}
{% endembed %}
							</code>
						</pre>
						node--writing--card.html.twig
					</section>
					<section>
						<pre>
							<code>
{% embed "@molecules/01-writing-card.twig"
  with {
    "url": url,
    "title": label,
    "body": content.field_card_blurb|field_value,
    "styleModifier": "hero"
  }
 %}
  {% block img %}
   {{ content.field_card_image|field_value }}
  {% endblock %}
{% endembed %}
							</code>
						</pre>
						node--writing--card-hero.html.twig
					</section>
					<section>
						<pre>
							<code>
{% embed "@molecules/01-writing-card.twig"
  with {
    "url": url,
    "title": label,
    "body": content.field_card_blurb|field_value
  }
 %}
  {% block img %}
   {{ content.field_card_image|field_value }}
  {% endblock %}
{% endembed %}
							</code>
						</pre>
						node--writing--card-text-only.html.twig
					</section>
				</section>
				</section>
				<section>
					<section>
						<h2>What did I learn?</h2>
						<p>What were my wrong assumptions?</p>
					</section>
					<section>
						<h2>Wrong Assumption #1</h2>
						Drupal would be my test area for real content.
					</section>
					<section>
						<h3>Next Time</h3>
						<p>Real content in Pattern Lab. Take the time to do this!</p>
						<p>Exceptionally important if your front end style guide is not perfectly in sync with the live site.
						You need to see if your ideas actually work!</p>
					</section>
					<section>
						<h2>Wrong Assumption #2</h2>
						I wanted to provide every template Drupal would use.
					</section>
					<section>
						<h3>Instead</h3>
						I used blocks in Twig heavily to create replaceable sections.
					</section>
					<section>
						<h2>Wrong Assumption #3</h2>
						I thought that I would be theming a lot of views with fields.
					</section>
					<section>
						<h3>Instead</h3>
						I themed view modes that were then used in views.
					</section>
				</section>
				<section>
					<section>
						<h2>(Review) Goals of this project</h2>
					</section>
					<section>
						Approve the design in the browser, not with a Photoshop rendering
						<p class="fragment grow highlight-green">Yes</p>
					</section>
					<section>
						A front end style guide perfectly in sync with production
						<p class="fragment grow highlight-green">Yes</p>
					</section>
					<section>
						Publish the front end style guide publicly
						<p class="fragment grow highlight-red">No, not yet</p>
					</section>
				</section>
				<section>
					<section>
						<h2>Resources</h2>
					</section>
					<section>
						<h3>Required Drupal Modules</h3>
						<ul>
							<li>Component Libraries: <a href="https://www.drupal.org/project/components">https://www.drupal.org/project/components</a>. Allows us to import Twig files from the library.</li>
							<li>Twig Field Value: <a href="https://www.drupal.org/project/twig_field_value">https://www.drupal.org/project/twig_field_value</a>. Allows us to write content.field_figure_image|field_value without drilling into the array.
						</ul>
					</section>
					<section>
						<h3>Drupal 8 Component Theming Initiative</h3>
						<ul>
							<li><a href="https://www.drupal.org/node/2702061">https://www.drupal.org/node/2702061</a></li>
						</ul>
						<p>Learn and contribute at the same time!</p>
					</section>
					<section>
						<h3>DrupalTwig Slack channel</h3>
						<ul>
							<li><a href="https://drupaltwig-slack.herokuapp.com/">https://drupaltwig-slack.herokuapp.com/</a></li>
						</ul>
						<p>I've learned a ton here. People are very helpful as long as you put in the effort.</p>
					</section>
					<section>
						<h3>Front End Style Guides</h3>
						<ul>
							<li><a href="http://www.maban.co.uk/projects/front-end-style-guides/">Front-end Style Guides ebook</a></li>
						</ul>
					</section>
					<section>
						<h3>Atomic Design and Pattern Lab</h3>
						<ul>
							<li><a href="http://atomicdesign.bradfrost.com/">atomicdesign.bradfrost.com</a></li>
							<li><a href="http://patternlab.io/">patternlab.io</a></li>
							<li><a href="https://www.smashingmagazine.com/2016/07/building-maintaining-atomic-design-systems-pattern-lab/">Making And Maintaining Atomic Design Systems With Pattern Lab 2</a></li>
						</ul>
					</section>
					<section>
						<h3>Pattern Lab Starter</h3>
						<ul>
							<li><a href="https://github.com/phase2/pattern-lab-starter">github.com/phase2/pattern-lab-starter</a></li>
						</ul>
					</section>
					<section>
						<h3>BEM</h3>
						<ul>
							<li><a href="http://getbem.com">getbem.com</a></li>
						</ul>
					</section>
					<section>
						<h3>SASS</h3>
						<ul>
							<li><a href="http://sass-lang.com/guide">Sass Basics</a></li>
						</ul>
						<p>Use SCSS formatting!</p>
					</section>
					<section>
						<h3>Additional Reading (1)</h3>
						<ul>
							<li><a href="http://www.mediacurrent.com/blog/integrating-components-drupal-8-part-1">
Integrating Components with Drupal 8 - Part 1</a></li>
							<li><a href="http://www.mediacurrent.com/blog/integrating-components-drupal-8-part-2">
Integrating Components with Drupal 8 - Part 2</a></li>
							<li><a href="http://www.mediacurrent.com/blog/integrating-components-drupal-8-part-3">
Integrating Components with Drupal 8 - Part 3</a></li>
						</ul>
					</section>
					<section>
						<h3>Additional Reading (2)</h3>
						<ul>
							<li><a href="http://jordanpagewhite.github.io/drupal-8-front-end-architecture/">
	Drupal 8 Front-end Architecture</a></li>
						</ul>
						<p>There is an extensive list of additional resources at the bottom of this page.</p>
					</section>

					<!--
					<section>
						<h3></h3>
						<ul>
							<li><a href=""></a></li>
						</ul>
					</section>
				-->
				</section>
				<section>
					<h1>Thank you!</h1>
					Feedback: <a href="https://github.com/wheatpenny/D8-component-theming">https://github.com/wheatpenny/D8-component-theming</a>. File an issue!
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
