<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>A First Run with Component Theming: Missteps, Learnings, and Success</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/blood.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>A First Run with Component Theming</h2>
					<p>Missteps, Learnings, and Success</p>
				</section>
				<section>
					<blockquote cite="https://twitter.com/patio11/status/803825771349426176">
						&ldquo;The world needs more people who are two days into learning something writing about the problems of people who are one day in.&rdquo;
					</blockquote>
					-- Patrick McKenzie <br />(https://twitter.com/patio11/status/803825771349426176)
				</section>
				<section>
					<section>
						<h2>Levi Sigworth</h2>
					</section>
					<section>
						Why listen to what I have to say?
						<aside class="notes">
							First off, you don't have to! I am not a proponent of The One True
							Way. What I have found is something that accomplished my goals and
							has worked very well for me. Take the parts that work for you and
							make them your own!
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>Goals of this project</h2>
					</section>
					<section>
						Approve the design in the browser, not with a Photoshop rendering
						<aside class="notes">
							But how? Build the Drupal site immediately and hope for the best?
							No, but let's first tell a story.
							Through a front end style guide! I chose to use
							Atomic Design and Pattern Lab, but there are others.
							Quick overview of a front end style guide + Atomic Design + Pattern Lab
						</aside>
					</section>
					<section>
						A front end style guide perfectly in sync with production
						<aside class="notes">
							Front end style guides can be completely independent of the CMS.
							But I wanted one that was tightly integrated. Make a change in the style guide,
							it shows up on the site. HTML, CSS, and JS all supplied by the
							front end style guide.
						</aside>
					</section>
					<section>
						Publish the front end style guide publicly
					</section>
					<section>
						We're going to reach these goals with component theming in Drupal 8.
					</section>
				</section>
				<section>
					<section>
						<h2>Why component theming?</h2>
						What problem are we trying to solve?
						<aside class="notes">
							These goals are great, but why even bother? This is a lot of effort and something brand new to learn.
						</aside>
					</section>
					<section>
						<p>Make changes to exactly the part of the site you want.</p>
						<p>Those changes roll out in a predicatable manner.</p>
					</section>
					<section>
						<blockquote>
						Two CSS properties walk into a bar. A barstool in an entirely different bar falls over.
					</blockquote>
					</section>
				</section>
				<section>
					<section>
						<h2>What is component theming?</h2>
					</section>
					<section>
						Bundles of HTML, CSS, and JS that can be moved around the site and remain CONSISTENT and PREDICTABLE
					</section>
					<section>
						<h2>Code Widget</h2>
					</section>
					<section data-background="images/code-screenshot.png">
					</section>
					<section>
						<h3>Final Generated HTML</h3>
					</section>
					<section>
						<pre>
							<code>
&lt;figure class="paragraphs-code"&gt;
	&lt;pre class="paragraphs-code__code"&gt;
		&lt;code&gt;
			drup()&lt;br /&gt;
		&lt;/code&gt;
	&lt;/pre&gt;
	&lt;figcaption class="paragraphs-code__caption"&gt;
		&lt;p&gt;An example startup script to get your Drupal 7
		site ready for development.&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;
							</code>
						</pre>
						<p>Drupal outputs this markup and content</p>
					</section>
					<section>
						<h3>Final Generated CSS</h3>
					</section>
					<section>
						<pre>
							<code>
.paragraphs-code {
  clear: both;
  padding: 0 0 20px 20px;
  border-left: #f7951d 2px solid;
  margin-left: 0;
}

@media (min-width: 1250px) {
  .paragraphs-code {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.paragraphs-code__code {
  background-color: #f2f2f2;
  overflow: scroll;
}

.paragraphs-code__caption {
  color: #7a7a7a;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
}

.paragraphs-code__caption p {
	margin-bottom: 0;
}
						</code>
					</pre>
						<p>Pattern Lab generates this CSS, and the Drupal theme imports this CSS file.</p>
					</section>
					<section>
						<h3>No JS for this widget</h3>
					</section>
					<section>
						Something that is a lot easier to do with Drupal 8! <br /><em>(compared to Drupal 7)</em>
						<aside class="notes">
							Remember before we said front end style guides can be independent or in sync?
							Because Pattern Lab and Drupal 8 both use Twig to generate markup, we can
							use Pattern Lab to define Twig templates for a Drupal theme! In D7, you can
							(and should!) use a front end style guide, but you'll need to reimplement
							the markup in PHPTemplate.
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>First Component</h2>
						<p>Display code examples in my writing posts.</p>
					</section>
					<section data-background="images/code-screenshot.png">
					</section>
					<section>
						<h3>Step 1</h3>
						<p>Understand that there is a need for a component.</p>
					</section>
					<section>
						system thinking
					</section>
					<section>
						<h3>Step 2</h3>
						Create the component.
					</section>
					<section>
						<ul>
							<li>
								Twig file: HTML
							</li>
							<li>
								SCSS file: compiles to CSS
							</li>
							<li>
								JSON file: sample content
							</li>
							<li>
								Markdown file: usage documentation
							</li>
						</ul>
					</section>
					<section>
						<h4>Easy with Pattern Lab Starter</h4>
						<pre>
							<code>
npm run new
							</code>
						</pre>
						<p>https://github.com/phase2/pattern-lab-starter</p>
					</section>
					<section>
							<pre>
								<code>
<{{ element ?: "figure" }} class="paragraphs-code">
  <pre class="paragraphs-code__code">
		<code>
      {{ code }}
    </code>
  </pre>
	{% endif %}
  {% if caption %}
    <figcaption class="paragraphs-code__caption">
    {% block caption %}
        <p>{{ caption }}</p>
    {% endblock %}
    </figcaption>
</{{ element ?: "figure" }}>
								</code>
							</pre>
							Twig markup
					</section>
					<section>
						<pre>
							<code>
.paragraphs-code {
  clear: both;
  padding: 0 0 $spacing--l $spacing--l;
  border-left: $c-code-border 2px solid;
  margin-left: 0;

  @include breakpoint($bp--xxlarge) {
    padding-left: $spacing--l*2;
    margin-left: -$spacing--l*2;
  }

  &__code {
    background-color: $c-code-bg;
    overflow: scroll;
  }

  &__caption {
    color: $c-byline-color;
    border-bottom: 1px solid $c-byline-border;
    padding-bottom: $spacing--sm;
    p {
      margin-bottom: 0;
    }
  }

}
							</code>
						</pre>
						SCSS file
					</section>
					<section>
						<pre>
							<code>
{
  "code": "drup(){cd /var/www/$1/sites/default/ (cdd && git pull && drush updatedb)}",
  "caption": "This example shows how to automate your startup environment."
}
							</code>
						</pre>
						JSON file
					</section>
					<section>
						<h3>Step 3</h3>
						Test your pattern in the browser!
					</section>
					<section>
						<h3>Step 4</h3>
						Build functionality in Drupal
					</section>
					<section>
						<h4>Paragraphs</h4>
					</section>
					<section>
						<h3>Step 5</h3>
						Figure out template name in Drupal
					</section>
					<section>
						((link to Drupal 8 Twig debug))
					</section>
					<section>
						<h3>Step 6</h3>
						Pull component Twig template into Drupal theme.
					</section>
					<section>
						<pre>
							<code>
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


{% embed "@molecules/paragraphs-code.twig"
  with {
  "code": content.field_figure_code|field_value,
  "caption": content.field_figure_caption|field_value
  }
 %}
{% endembed %}
							</code>
						</pre>
						paragraph--paragraphs-code.html.twig
					</section>
				</section>
				<section>
					<section>
						<h2>Quick Break: Buzzwords and Terminology</h2>
					</section>
					<section>
						<h3>Paragraphs</h3>
						<p>Drupal modules that allows editors to create small, movable chunks of content. Replaces a big Body field.</p>
					</section>
					<section>
						<h3>SCSS (or SASS)</h3>
						<p>Generates the final CSS file</p>
						<p>Makes BEM naming structure easier to implement.</p>
					</section>
					<section>
						<h3>Grunt</h3>
						<p>JavaScript task runner that runs the SCSS compiler, creates the Pattern Lab interactive page, and does a bunch of other things.</p>
					</section>
					<section>
						<h3>BEM</h3>
						<p>Block, Element, Modifier. CSS naming convention</p>
					</section>
					<section>
						<h3>Twig</h3>
						<p>HTML templating engine in D8. Replaces PHPTemplate in D7.</p>
					</section>
					<section>
						<h3>Front End Style Guide</h3>
						<p>The deliverable we are using to define client acceptance in the browser.</p>
					</section>
					<section>
						<h3>Pattern Lab and Atomic Design</h3>
						<p>The design system I chose to implememt a front end style guide.</p>
					</section>
					<section>
						<h3>npm</h3>
						<p>Comes from node.js. It's a package manager. YOU DON'T NEED TO BE AN EXPERT HERE...just have to get it installed.</p>
					</section>
				</section>
				<section>
					<section>
						<h2>Second Component</h2>
						<p>Show Images in Writing Posts</p>
					</section>
					<section data-background="images/left.png">
					</section>
					<section data-background="images/right.png">
					</section>
					<section data-background="images/hero.png">
					</section>
					<section>
						<h3>Step 1</h3>
						<p>Understand that there is a need for a component.</p>
					</section>
					<section>
						<h3>Step 2</h3>
						Create the component.
					</section>
					<section>
							<pre>
								<code>
								</code>
							</pre>
							Twig markup
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						SCSS file
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						JSON file
					</section>
					<section>
						<h3>Step 3</h3>
						Test your pattern in the browser!
					</section>
					<section>
						<h3>Step 4</h3>
						Build functionality in Drupal
					</section>
					<section>
						<h4>Paragraphs</h4>
					</section>
					<section>
						<h4>Theme Function</h4>
					</section>
					<section>
						<h3>Step 5</h3>
						Figure out template name in Drupal
					</section>
					<section>
						<h3>Step 6</h3>
						Pull component Twig template into Drupal theme.
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						paragraph--paragraphs-image.html.twig
					</section>
				</section>
				<section>
					<section>
						<h2>Third Component</h2>
						<p>Show Cards in Views</p>
					</section>
					<section data-background="images/cards.png">
					</section>
					<section data-background="images/cards-text-only.png">
					</section>
					<section>
						<h3>Step 1</h3>
						<p>Understand that there is a need for a component.</p>
					</section>
					<section>
						<h3>Step 2</h3>
						Create the component.
					</section>
					<section>
							<pre>
								<code>
								</code>
							</pre>
							Twig markup
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						SCSS file
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						JSON file
					</section>
					<section>
						<h3>Step 3</h3>
						Test your pattern in the browser!
					</section>
					<section>
						<h3>Step 4</h3>
						Build functionality in Drupal
					</section>
					<section>
						<h4>Views</h4>
					</section>
					<section>
						<h4>View Modes!</h4>
					</section>
					<section>
						<h3>Step 5</h3>
						Figure out template name in Drupal
					</section>
					<section>
						<h3>Step 6</h3>
						Pull component Twig template into Drupal theme.
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						node--writing--card.html.twig
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						node--writing--card-hero.html.twig
					</section>
					<section>
						<pre>
							<code>
							</code>
						</pre>
						node--writing--card-text-only.html.twig
					</section>
				</section>
				</section>
				<section>
					<section>
						<h2>What did I learn?</h2>
						<p>What were my wrong assumptions?</p>
					</section>
					<section>
						<h2>Wrong Assumption #1</h2>
						Drupal would be my test area for real content.
					</section>
					<section>
						<h3>Next Time</h3>
						<p>Real content in Pattern Lab. Take the time to do this!</p>
						<p>Exceptionally important if your front end style guide is not perfectly in sync with the live site.
						You need to see if your ideas actually work!</p>
					</section>
					<section>
						<h2>Wrong Assumption #2</h2>
						I wanted to provide every template Drupal would use.
					</section>
					<section>
						<h3>Instead</h3>
						I used blocks in Twig heavily to create replaceable sections.
					</section>
					<section>
						<h2>Wrong Assumption #3</h2>
						I thought that I would be theming a lot of views.
					</section>
					<section>
						<h3>Instead</h3>
						I themed view modes and did almost no Views theming, except for layout out the grid.
						1:1 relationship between view modes and component variations.
					</section>


				</section>
				<section>
					<section>
						<h2>Resources</h2>
					</section>
					<section>
						<h3>Drupal 8 Component Theming Initiative</h3>
						<ul>
							<li><a href="https://www.drupal.org/node/2702061">https://www.drupal.org/node/2702061</a></li>
						</ul>
						<p>Learn and contribute at the same time!</p>
					</section>
					<section>
						<h3>DrupalTwig Slack channel</h3>
						<ul>
							<li><a href="https://drupaltwig-slack.herokuapp.com/">https://drupaltwig-slack.herokuapp.com/</a></li>
						</ul>
						<p>I've learned a ton here. People are very helpful as long as you put in the effort.</p>
					</section>
					<section>
						<h3>Front End Style Guides</h3>
						<ul>
							<li><a href="http://www.maban.co.uk/projects/front-end-style-guides/">Front-end Style Guides ebook</a></li>
						</ul>
					</section>
					<section>
						<h3>Atomic Design and Pattern Lab</h3>
						<ul>
							<li><a href="http://atomicdesign.bradfrost.com/">atomicdesign.bradfrost.com</a></li>
							<li><a href="http://patternlab.io/">patternlab.io</a></li>
							<li><a href="https://www.smashingmagazine.com/2016/07/building-maintaining-atomic-design-systems-pattern-lab/">Making And Maintaining Atomic Design Systems With Pattern Lab 2</a></li>
						</ul>
					</section>
					<section>
						<h3>Pattern Lab Starter</h3>
						<ul>
							<li><a href="https://github.com/phase2/pattern-lab-starter">github.com/phase2/pattern-lab-starter</a></li>
						</ul>
					</section>
					<section>
						<h3>BEM</h3>
						<ul>
							<li><a href="http://getbem.com">getbem.com</a></li>
						</ul>
					</section>
					<section>
						<h3>SASS</h3>
						<ul>
							<li><a href="http://sass-lang.com/guide">Sass Basics</a></li>
						</ul>
						<p>Use SCSS formatting!</p>
					</section>
					<section>
						<h3>Additional Reading (1)</h3>
						<ul>
							<li><a href="http://www.mediacurrent.com/blog/integrating-components-drupal-8-part-1">
Integrating Components with Drupal 8 - Part 1</a></li>
							<li><a href="http://www.mediacurrent.com/blog/integrating-components-drupal-8-part-2">
Integrating Components with Drupal 8 - Part 2</a></li>
							<li><a href="http://www.mediacurrent.com/blog/integrating-components-drupal-8-part-3">
Integrating Components with Drupal 8 - Part 3</a></li>
						</ul>
					</section>
					<section>
						<h3>Additional Reading (2)</h3>
						<ul>
							<li><a href="http://jordanpagewhite.github.io/drupal-8-front-end-architecture/">
	Drupal 8 Front-end Architecture</a></li>
						</ul>
						<p>There is an extensive list of additional resources at the bottom of this page.</p>
					</section>

					<!--
					<section>
						<h3></h3>
						<ul>
							<li><a href=""></a></li>
						</ul>
					</section>
				-->
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
